# Old School
.svn

# OS X
*~
.DS_Store
profile

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
*.xcodeproj/ !*.xcodeproj/project.pbxproj

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Pods
Pods/

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# AppCode
.idea

