version: 2.1

website_docker_defaults: &website_docker_defaults
  docker:
    - image: circleci/node:8.11.3

commands:
  prep_website_env:
    description: Prepapres environment with cache
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          name: Restore node_modules cache
          key: website-{{ .Branch }}-{{ checksum "yarn.lock" }}
  save_website_cache:
    description: Saves environment cache
    steps:
      - save_cache:
          name: Save node_modules cache
          key: website-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules/

jobs:
  build:

    # Specify the Xcode version to use
    macos:
      xcode: "10.0.0"

    steps:
      - checkout

      # Install CocoaPods
      - run:
          name: Install CocoaPods
          command: pod install

      # Build the app and run RichTextViewUnitTests
      - run:
          name: Build and run RichTextViewUnitTests
          command: fastlane scan
          environment:
            SCAN_DEVICE: iPhone 6
            SCAN_SCHEME: RichTextViewUnitTests

      # Build the app and run RichTextViewUITests
      - run:
          name: Build and run RichTextViewUITests
          command: fastlane scan
          environment:
            SCAN_DEVICE: iPhone 6
            SCAN_SCHEME: RichTextViewUITests

      # Collect XML test results data to show in the UI,
      # and save the same XML files under test-results folder
      # in the Artifacts tab
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: /tmp/test-results
          destination: scan-test-results
      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs
  website:
    <<: *website_docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_website_env
      - run: yarn install
      - save_website_cache
      - run: yarn build
      - persist_to_workspace:
          root: ./
          paths:
            - build/
  deploy_website:
    <<: *website_docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_website_env
      - attach_workspace:
          at: ./
      - add_ssh_keys:
          fingerprints:
            - "ea:64:9c:ee:8a:f7:7d:a2:f7:7d:39:e7:92:7a:54:6f"
      - run:
          name: Setup git user and deploy website
          command: |
            git config --global user.email "circleci-richtextview@users.noreply.github.com"
            git config --global user.name "CircleCI RichTextView"
            USE_SSH=true yarn publish-gh-pages

workflows:
  version: 2
  richtextview_and_website:
    jobs:
      - build
      - website
      - deploy_website:
          requires:
            - website
          filters:
            branches:
              only:
                - master
